:root {
    --pink: rgb(253, 211, 189);
    --green: rgb(130, 149, 121);
  }

.h2 {
  margin: 1% 30%;
}

#carousel {
    margin: 5vh 5vw;
}

.caption {
  background: rgba(0,0,0,0.1);
}

div.carousel-indicators {
  background: rgba(0,0,0,0);
}