:root {
    --pink: rgb(253, 211, 189);
    --green: rgb(130, 149, 121);
  }

Form {
    padding: 10px 20%;
}

.all-form {
    padding-top: 10px;
}

.form-label {
    padding-top: 30px;
}

#submit-form {
    background-color: var(--pink);
    border: var(--pink);
    margin: 10px;
}

#text-area {
    height: 300px;
}