:root {
    --pink: rgb(253, 211, 189);
    --green: rgb(130, 149, 121);
  }

footer {
    display: flex;
    justify-content: center;
    background-color: var(--green);
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 5px;
}