:root {
  --pink: rgb(253, 211, 189);
  --pink2: rgb(255, 181, 120);
  --green: rgb(130, 149, 121);
  --green2: rgb(143, 189, 172);
}

nav {
  display: inline;
  height: 50px;
  margin: 10px;
}

div.navbtns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 10px; */
}

#main-btn {
  border: solid 1px;
  /* background-color: var(--pink); */
  padding: 10px;
  background: linear-gradient(-45deg, var(--pink), var(--pink2), var(--pink), var(--pink2));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.nav-btn {
  border: 1px solid white;
  padding: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}