:root {
  --pink: rgb(253, 211, 189);
  --pink2: rgb(238, 233, 233);
  --green: rgb(130, 149, 121);
  --green2: rgb(227, 232, 223);
}

* {
  background-color: var(--green);
  color: white;
  margin: 0;
}

/* NAVBAR */
nav {
  min-height: 8vh;
  width: 100%;
}

/* body {
  padding-top: 60px;
} */

.nav-btns {
  width: 40%;
  cursor: pointer;
}

.nav-links {
  color: white;
}

.nav-links:hover {
  color: var(--pink);
  font-size: 20px;
  transition: all 500ms;
}

li {
  list-style-type: none;
}

.nav-icon {
  display: none;
  cursor: pointer;
}

/* HEROSECTION */
.hs-main {
  height: 100vh;
}

.hs-main-name {
  width: 30%;
  margin: 0 auto;
  margin-top: 12%;
  padding: 10px 0;
  border: 1px solid white;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--pink), var(--pink2), var(--pink), var(--pink2));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.hs-main-title {
  width: 40%;
  margin: 0 auto;
  margin-top: 3%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(-45deg, var(--green), var(--green2), var(--green), var(--green2));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hs-main-welcome_form {
  width: 100%;
  margin-top: 7%;
}

.hs-main-inputname {
  border: 1px solid var(--pink);
  background-color: white;
  color: var(--pink);
}

.hs-main-welcomeText {
  color: var(--pink);
  margin: 0 auto;
  width: 55%;
  margin-top: 3%;
  padding: 10px;
}

/* ABOUT ME SECTION */
#about {
  height: 100vh;
}

.about {
  margin: 0% 10%;
  text-align: justify;
}

.about-title {
  color: var(--pink);
  text-decoration: underline;
}

.about-mypic {
  display: block;
  width: 150px;
  height: 150px;
  margin: 3% auto;
  text-align: center;
  border-radius: 30%;
}

.about-li {
  margin: 1%;
}

.about-icons {
  /* text-align: center; */
  height: 30px;
  width: 30px;
  margin: 0 20px;
}

.about-downloadResume {
  width: 100%;
  margin-bottom: 5%;
}

.about-resumeLink {
  text-decoration: none;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
}

.about-ph {
  margin: 5% ;
}

/* PORTFOLIO SECTION */
#portfolio {
  color: var(--pink);
  text-decoration: underline;
}

.portfolio-carousel {
  /* padding: 0 10%; */
}

.portfolio-carousel-images {
  width: 100%;
  padding: 5%;
}

.portfolio-carousel-caption {
  background: rgba(0, 0, 0, 0);
}

.portfolio-carousel-caption-text {
  width: 40%;
  margin: 0 auto;
}

.carousel-indicators {
  background: rgba(0, 0, 0, 0);
}

/* SKILLS SECTION */
.skills {
  margin: 5%;
}

.skills-title {
  color: var(--pink);
  text-decoration: underline;
}

.skills-ul {
  margin: 2% 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skills-ul-li {
  border: 1px solid white;
  padding: 20px 30px;
  margin: 3%;
  flex-grow: 1;
  width: 33%; 
  height: 100px;
}

/* CONTACT SECTION */
.contact-form {
  padding: 5% 20%;
  padding-bottom: 10%;
}

.contact-form-title {
  color: var(--pink);
  text-decoration: underline;
}

.contact-form-textarea {
  height: 300px;
}

#submit-form-btn {
  background-color: var(--pink);
  border: var(--pink);
  margin: 20px;
}

/* FOOTER SECTION */
footer {
  background-color: var(--green);
}

/* 460 */
@media all and (max-width: 531px) {
  .nav-btns {
    position: absolute;
    display: block;
    height: 30vh;
    flex-direction: column;
    top: 60px;
    right: 0;
    transform: translateX(-600px);
    border: 1px solid white;
    border-radius: 10px;
  }

  .nav-links {
    padding: 10px;
    background: var(--green);
    font-size: 15px;
  }

  .nav-links:hover {
    color: var(--pink);
    transition: all 500ms;
  }

  .nav-icon {
    display: block;
    margin-left: 60%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 532px) and (max-width: 1363px) {
}